<h1>Add a Collection</h1>

<p>Add a collection here:</p>



<form action="#">

  <label for="collectionName">Collection Name</label>
  <input id="collectionName" name="collectionName" type="text">

  <button type="submit" class="btn btn-Danger">Add Collection</button>
</form>
